<!DOCTYPE html>
<html manifest="manifests/home.html.manifest">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, user-scalable=no" />
		<title>Home</title>
		<style type="text/css">
	    body.xstyle {}
	    </style>

		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/zepto.js"></script>
		<script type="text/javascript" src="js/touch.js"></script>
		<script type="text/javascript" src="js/XApi.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<style type="text/css">
		
		html, body {
			padding: 0;
			margin: 0;
		}

		.section-title {
			padding: 10px 20px;
			background-color: #f0f0f0;
		}
		</style>
	</head>

<body>

<ul>
    <li>
        <div class="section-title font-title">最新发表</div>
        <ul id="list-new">
        </ul>
    </li>
    <li>
        <div class="section-title font-title">最新回复</div>
        <ul id="list-reply">
        </ul>
    </li>
    <li>
        <div class="section-title font-title">精华</div>
        <ul id="list-hot">
        </ul>
    </li>
</ul>

<script type="text/template" id="list-item-tpl">
<li class="item cell hl" ontap="javascript:opentid(<%= tid %>)">
	<div class="cell-c font-title">
		<div class="title">
			<%= title %>
		</div>
		<div class="time font-subtitle">
			<%= time %>
		</div>
	</div>
	<div class="cell-s"></div>
</li>	
</script>

<script type="text/javascript">
$x.setTitle('首页');
var dom;
refresh();
$x.onRefresh = refresh;

var tpl = _.template($('#list-item-tpl').html().trim());
function refresh() {
	$x.ajax({
		url: 'http://bbs.toplicai.cn/', 
		success: function (rsp) {
			dom = $($xu.getBody(rsp.data));
			console.log(dom);
			var mods = dom.find('.toplist');
			var newsDom = mods[0] || $(); 
			var replyDom = mods[1] || $();
			var hotDom = mods[2] || $();

			var news = parseList(newsDom);
			var repies = parseList(replyDom);
			var hots = parseList(hotDom);

			renderlist(news, $('#list-new'));
			renderlist(repies, $('#list-reply'));
			renderlist(hots, $('#list-hot'));

			$('.item').tap(function () {
				eval($(this).attr('ontap'));
			});
			$x.endRefresh();
		},
		fail: function (error) {
			$x.endRefresh();
		}
	});
}

function parseList(dom) {
	var posts = [];
	$(dom).find('li').each(function (index, el) {
		el = $(el);
		posts.push({
			title: el.find('a').html().trim(),
			time: el.find('span.fr').html(),
			tid: el.find('a').attr('href').replace(/.*?=(\d+)$/, '$1')
		});
	});
	return posts;
}

function renderlist(items, dom) {
	var htmls = [];
	items.forEach(function (item) {
		htmls.push(tpl(item));
	});
	dom.html(htmls.join(''));
}

</script>
</body>

</html>
