<!DOCTYPE html>
<html manifest="manifests/read.html.manifest">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, user-scalable=no" />
    <title>Board</title>
    <style type="text/css">
    body.xstyle {}
    </style>

    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/zepto.js"></script>
    <script type="text/javascript" src="js/touch.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/XApi.js"></script>
    <script type="text/javascript" src="js/list.js"></script>
    <style type="text/css">
    #post-title {
        zoom: 120%;
        padding: 10px;
    }
    .post-head {
        margin-top: 10px;
        display: -webkit-box;
        /*-webkit-box-align: center;*/
        
        width: 100%;
    }
    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 1px #ccc;
    }
    .info {
        -webkit-box-flex: 1;
        padding-left: 10px;
    }
    </style>
</head>

<body>
    <!-- <h1><a href="javascript:window.location.reload()">Hello read</a></h1> -->
    <div id="post-title" class="font-title"></div>
    <ul id="list">

    </ul>
    <script type="text/template" id="tpl_list_item">
        <li class="item cell">
            <div class="cell-c">
                <div class="post-head">
                    <img class="avatar" xsrc="<%= avatar %>" />
                    <div class="info">
                        <div class="author font-title">
                            <strong>
                                <%= author %>
                            </strong>
                        </div>
                        <div class="hint font-subtitle">
                            <span class="index">
                                <%= indexHint %>
                            </span>
                            <span class="addtime">
                                <%= addtime %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content font-title">
                    <%= content %>
                </div>
            </div>
            <div class="cell-s"></div>
        </li>
    </script>
    <script type="text/javascript">
    var config = {
        'list': '#main .t5.t2',
        'data': {
            'author': {
                'selector': 'b.fl',
                'fn': function(el) {
                    return $xu.trimTag(el.html());
                }
            },
            'avatar': {
                'selector': '.user-pic img',
                'fn': function(el) {
                    return 'http://bbs.toplicai.cn/' + el.attr('xsrc');
                }
            },
            'indexHint': '.tiptop a.s3',
            'addtime': {
                'selector': '.tiptop .fl.gray',
                'fn': function(el) {
                    return el.html().trim().substring(4);
                }
            },
            'subject': '#subject_tpc',
            'content': '.tpc_content'
        }
    };

    var tpl = _.template($('#tpl_list_item').html().trim());

    var query = XUtils.parseQuery(window.location.href);
    var url = 'http://bbs.toplicai.cn/read.php?tid=' + query.tid;

    var pagingNotificationName = 'x_paging_read' + query.fid;
    var listBuilder = ListBuilder({
        url: url,
        config: config,
        tpl: tpl,
        list: $('#list'),
        pagingNotificationName: pagingNotificationName,
        firstPageFn: function (dom) {
            var title = dom.find('#subject_tpc').html();
            $('#post-title').html(title);
            $x.setTitle($xu.html2text($xu.trimTag(title)));
        }
    });
    listBuilder.refresh();

    </script>
</body>

</html>
