<!DOCTYPE html>
<html manifest="manifests/thread.html.manifest">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=0.5, maximum-scale=0.5, user-scalable=no" />
		<title>Board</title>
		<style type="text/css">
		body.xstyle {}
		</style>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/zepto.js"></script>
		<script type="text/javascript" src="js/touch.js"></script>
		<script type="text/javascript" src="js/XApi.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/list.js"></script>
		<style type="text/css">
		#list .img-top {
			vertical-align: middle;
			zoom: 200%;
		}
		.item .reply {
			margin-top: 10px;
		}
		</style>
	</head>

<body>
	<!-- <h1><a href="javascript:window.location.reload()">Hello thread</a></h1> -->
	<ul id="list">
		
	</ul>
	<script type="text/template" id="tpl_list_item">
		<li class="item cell hl" tid="<%= tid %>">
			<div class="cell-c">
				<div class="title font-title">
				 	<% if (top) {%>
				 		<img class="img-top" src="img/board-top.gif" alt="Top" />
				 	<% } %>
					<%= title %>(<%= replyInfo %>)
				</div>
				<div class="reply font-subtitle">
					<span class="author"><%= author %></span>
					<span class="addtime"><%= addtime %></span>
				</div>
			</div>
			<div class="cell-s"></div>
		</li>
	</script>
	<script type="text/javascript">

	var config = {
		'list': '#ajaxtable tr.tr3.t_one',
		'data': {
			'top': {
				'selector': 'td[1] img',
				'fn': function (el) {
					var top = false;
					el && el.each(function (index, dom) {
						top |= $(dom).attr('title') == '置顶帖标志';
					});
					return top;
				}
			},
			'title': {
				'selector': 'h3 a',
				'fn': function (el) {
					return XUtils.trimTag(el.html());
				}
			},
			'tid': {
				'selector': 'h3 a',
				'fn': function (el) {
					return el.attr('id').replace('a_ajax_', '');
				}
			},
			'author': {
				'selector': '.tal.y-style[0] a'
			},
			'addtime': {
				'selector': '.tal.y-style[0] div'
			},
			'replyAuthor': {
				'selector': '.tal.y-style:last-child span',
				'fn': function (el) {
					return el.html().substring(3);
				}
			},
			'replyTime': '.tal.y-style:last-child a',
			'replyInfo': {
				'selector': '.tal.y-style[1]',
				'fn': function (el) {
					return XUtils.trimTag(el.html());
				}
			}
		}
	};

	var tpl = _.template($('#tpl_list_item').html().trim());

	var query = XUtils.parseQuery(window.location.href);
	var url = 'http://bbs.toplicai.cn/thread.php?fid=' + query.fid;

	var latestPage = 0;
	var totalPage = 1;
	var loading = {};
	var footerLoading = createHorizentalLoading();
	var fullpageLoading = createFullpageLoading();
	$('body').append(fullpageLoading);
	refresh();

	// detect scroll
	$(window).on('scroll', function () {
		var bodyHeight = $(document.body).height();
		height4loading = Math.max($(window).height(), 960);
		if (latestPage > 0) {
			height4loading = Math.max(bodyHeight / latestPage, height4loading);
		}
		var scrollTop = $(window).scrollTop();
		var shouldload = $(window).scrollTop() + height4loading + $(window).height() > bodyHeight; 
		if (shouldload) {
			loadNext();
		}
	});

	// functions
	function refresh() {
		latestPage = 0;
		loadNext(true);
	}

	function loadNext(force) {
		if (latestPage == totalPage && !force) return ;	// already load last page
		loadPage(latestPage + 1, function (items, pageInfo) {
			latestPage = Math.max(latestPage, pageInfo.currentPage);
			totalPage = pageInfo.totalPage;
			renderItems(items);
			console.log(latestPage, totalPage);
			if (latestPage < totalPage) {
				footerLoading.insertAfter($('#list'));
				footerLoading.find('.horizental-hint-hint')
				.text('正在加载' + (latestPage + 1) + '/' + totalPage + ' ...');
			} else {
				footerLoading.remove();
			}
		});
	}

	function renderItems(items) {
		var htmls = [];
		items.forEach(function (item) {
			htmls.push(tpl(item));
		});
		var dom = $(htmls.join(''));
		dom.on('tap', function () {
			var li = $(this);
			$x.open({
				'url': XUtils.setUrlWithQuery('x://xweb', {
					'url': $xu.replacePath('read.html'),
					'tid': li.attr('tid')
				})
			});
		});
		$('#list').append(dom);
	}

	function loadPage(page, callback) {
		if (loading[page]) return ;
		loading[page] = true;
		$x.getJSON(url + '&page=' + page, function (rsp) {
		// $.getJSON('http://' + window.location.hostname + ':8081/c_board.html', function (rsp) {
			if (fullpageLoading) {
				fullpageLoading.remove();
				fullpageLoading = null;
			}
			loading[page] = false;
			var html = rsp.data;
			var body = XUtils.getBody(html);
			var dom = $(body);
			var items = parse(dom, config);
			var pageInfo = getPageInfo(dom.find('.pages .pagesone'));
			callback(items, pageInfo);
		});
	}

	// test scroll
	// $(document.body).on('touchmove', function (event) {
	// 	console.log(event);
	// });
	</script>
</body>

</html>
